* {
    margin: 0;
    box-sizing: border-box; /* padding and border incleded in the width/height */
    overflow-y: hidden;
    overflow-x: hidden;
    /*seamless: seamless; */
    outline: none;
}

@font-face {
  font-family: "DS-Digital";
  src: url(./DS-DIGI.TTF) format("truetype");
}

@font-face {
  font-family: "Liquid Crystal";
  src: url(./LiquidCrystal-Normal.otf) format("truetype");
}

.digital_font {
 font-family: "Liquid Crystal", sans-serif;
 font-size: 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 800px;
    touch-action: manipulation;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 25px 5px 5px;
    background: url('../img/dr_down_16.png') no-repeat right;
}

#app {
    text-align: center;
}

.minetgm {
    display: inline-block;
    margin-top: 50px;
}

select::-ms-expand {
    display: none;
}

table {
  border-collapse: collapse;
}

.transition {
    transition: background 800ms;
}

#settings-btn {
    /*position: fixed;*/
    right: 0;
    top: 0;
    width: 5vmin;
    height: 5vmin;
    padding: 0;
    background: transparent url('../img/settings_48.png') no-repeat;
    background-size: 5vmin 5vmin;
    opacity: 0.10;
    border: none;
    outline-style: none;
    transition: opacity 500ms;
}

#settings-btn:hover {
    opacity: 1;
}

.hover-text-bold:hover {
    font-weight: bold;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
